<main class="container">
  <button
    class="emergency-button"
    (click)="processEmergency()"
    [disabled]="emergencyButtonDisabled"
  >
    Авария
  </button>
  <app-traffic-light
    [color]="horizontalColor"
    [direction]="'horizontal-traffic-light'"
    [container]="'horizontal-traffic-light-container'"
    [onCrossPress]="processCrossClick"
  ></app-traffic-light>
  <app-traffic-light
    [color]="horizontalColor"
    [direction]="'horizontal-traffic-light'"
    [container]="'horizontal-traffic-light-container-2'"
    [onCrossPress]="processCrossClick"
  ></app-traffic-light>
  <app-traffic-light
    [color]="verticalColor"
    [direction]="'vertical-traffic-light'"
    [container]="'vertical-traffic-light-container'"
    [onCrossPress]="processCrossClick"
  ></app-traffic-light>
  <app-traffic-light
    [color]="verticalColor"
    [direction]="'vertical-traffic-light'"
    [container]="'vertical-traffic-light-container-2'"
    [onCrossPress]="processCrossClick"
  ></app-traffic-light>
</main>
